[submodule "MiLibreria"]
	path = MiLibreria
	url = https://github.com/jborrajorodriguez/utilidadesJuan.git
[submodule "LibreriaArturo"]
	path = LibreriaArturo
	url = https://github.com/Aralvarellosblas/LibreriaPrueba.git
